html {
  --text-color: #013;
  --link-color: #413;
  --bg-color: #fef;
  color: var(--text-color);
  background-color: var(--bg-color);
}
@font-face {
    font-family: 'over_the_rainbowregular';
    src: url('fonts/OTR/overtherainbow-regular-webfont.woff2') format('woff2'),
         url('fonts/OTR/overtherainbow-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mansalvaregular';
    src: url('fonts/Mansalva/mansalva-regular-webfont.woff2') format('woff2'),
         url('fonts/Mansalva/mansalva-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
  margin: 0 auto;
  max-width: 36em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  hyphens: none;
  font-family: 'mansalvaregular', serif;
  font-size: 1.2em;
}
p {
  margin: 1em 0;
}
aside {
  width: 40%;
  margin: 1em 0 1em 1.7em;
  float: right;
}
dt {
  font-weight: 600;
}

.imagination {
  font-family: 'over_the_rainbowregular', cursive;
  font-style: italic;
  font-size: 90%;
  line-height: 115%;
  color: #c00;
}

.imagination em {
  font-weight: bold;
}

a {
  color: var(--text-color);
}
a:visited {
  color: var(--link-color);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.4em;
}
h5, h6 {
  font-size: 1em;
  font-style: italic;
}
h6 {
  font-weight: normal;
}
ol, ul {
  padding-left: 1.7em;
  margin-top: 1em;
}
li > ol, li > ul {
  margin-top: 0;
}
blockquote {
  margin: 1em 0 1em 1.7em;
  padding-left: 1em;
  border-left: 2px solid #eee;
  color: #666;
}
code {
  font-family: Menlo, Monaco, Consolas, 'Lucida Console', monospace;
  font-size: 85%;
  margin: 0;
  hyphens: manual;
}
pre {
  margin: 1em 0;
  overflow: auto;
}
pre code {
  padding: 0;
  overflow: visible;
  overflow-wrap: normal;
}
hr {
  background-color: var(--text-color);
  border: none;
  height: 1px;
  margin: 1em 0;
}
table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
}
table caption {
  margin-bottom: 0.75em;
}
tbody {
  margin-top: 0.5em;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}
th {
  border-top: 1px solid var(--text-color);
  padding: 0.25em 0.5em 0.25em 0.5em;
}
td {
  padding: 0.125em 0.5em 0.25em 0.5em;
}
header {
  margin-bottom: 4em;
  text-align: center;
}